@import "tailwindcss";
@theme {
  --color-base: #0F1113;
  --color-surface: #24282E;
  --color-positive: #BEF264;
  --color-warning: #F5A623;
  --color-muted: #94A3B8
}

@layer base {
  body {
    @apply bg-base text-white;
  }
}
