@import "tailwindcss";
@import "@fontsource-variable/inter";
@import "@fontsource-variable/inter-tight";
@import "@fontsource-variable/jetbrains-mono";

@theme {
  --color-base: #0f1113;
  --color-surface: #24282e;
  --color-positive: #bef264;
  --color-warning: #f5a623;
  --color-muted: #94a3b8;
  --font-sans: "Inter Variable", sans-serif;
  --font-display: "Inter Tight Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

@layer base {
  body {
    @apply bg-base text-white;
  }
}
